*.DS_Store
*.default
*.types
*.swp
.tmp*
*~
*.pyc
*.egg
*.pdf
*.bak
*.doc
*.ppt
*.xls
*.mht
*.chm
*.mp3
*.mp4
*.wma
*.rar
*.zip
*.7z
*.xz
*.tar
*.tar.gz
*.tar.bz
*.tar.bz2
*.tbz
*.tgz
*.map
*.log
*.txt
*.gz
*.ko
*.so
.svn
.cvs
build/*
